.solutions {
  background: linear-gradient(#00142b, #006c58, #00bc9a);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;
}

.solutions .top-text {
  margin-bottom: 80px;
}

.solution-cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}
