.navbar {
  display: flex;
  align-items: center;
  background-color: #0779ff;
  height: 70px;
  border-bottom: 0.5px solid #3d94ff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
  height: 100%;
  padding: 0 15px;
  padding-right: 5px;
}

.nav-left a {
  text-decoration: none;
}

.nav-left img {
  width: 50px;
}

.nav-left img:hover {
  transform: scale(1.04);
}

.nav-left h1 {
  font-family: 'iceland';
  color: #fff;
  font-weight: lighter;
  font-size: 30px;
}

.nav-left h1:hover {
  transform: scale(1.04);
  font-weight: 600;
}

.nav-right {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-right .nav-items {
  display: flex;
  margin-right: 30px;
  gap: 12px;
  border-bottom: 1px solid #3d94ff;
  border-radius: 10px;
}

.nav-right .nav-items li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  list-style: none;
  cursor: pointer;
  color: #fff;
  font-weight: lighter;
  border-radius: 10px;
  width: 70px;
  height: 10px;
  text-align: center;
}

.nav-right .nav-items li:hover {
  background-color: #fff;
  color: #278aff;
  font-weight: bold;
}

.nav-items a {
  text-decoration: none;
}

@media (max-width: 720px) {
  .right .nav-items {
    gap: 0;
  }
}

.nav-right .menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  margin-right: 10px; /* Adjust as needed */
  order: 2;
}

@media (min-width: 720px) {
  .bars,
  .times {
    display: none;
  }
}

@media (max-width: 720px) {
  .nav-right .nav-items {
    display: none;
  }

  .nav-right .menu-icon {
    display: block;
  }

  .active .nav-right .nav-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    background-color: #0779ff;
    border-bottom: 2px solid white;
    width: 100%;
    margin: 0;
    text-align: right;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    align-items: center;
  }

  .active .nav-right .nav-items li {
    width: 100vw;
  }

  .active .nav-right .nav-items.active {
    transform: translateY(0);
  }
}

.nav-right .menu-icon.hidden {
  display: none;
}
