.navbar {
  display: flex;
  align-items: center;
  background-color: #00142b;
  height: 70px;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
  height: 100%;
  padding: 0 15px;
  padding-right: 5px;
}

.logo-btn {
  cursor: pointer;
}

.nav-left a {
  text-decoration: none;
}

.nav-left img {
  width: 50px;
}

.nav-left img:hover {
  transform: scale(1.04);
}

.nav-left h1 {
  font-family: 'iceland';
  color: #fff;
  font-weight: lighter;
  font-size: 30px;
}

.nav-left h1:hover {
  transform: scale(1.04);
  font-weight: 600;
}

.nav-right {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-right .nav-items {
  display: flex;
  margin-right: 30px;
  gap: 15px;
  border-radius: 10px;
}

.nav-right .nav-items li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  list-style: none;
  cursor: pointer;
  color: #fff;
  font-weight: lighter;
  width: 70px;
  height: 10px;
  text-align: center;
}

.green-btn {
  background-color: #00e5bc;
  border: 2px solid #00e5bc;
  color: #000;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.green-btn:hover {
  background-color: #00142b;
  border: 2px solid #00e5bc;
  color: #fff;
}

.nav-right .nav-items li:hover {
  border-bottom: 2px solid #00e5bc;
  color: #fff;
  font-weight: bold;
}

.nav-items a {
  text-decoration: none;
}

.nav-right .nav-items .active-item {
  border-bottom: 2px solid #00e5bc;
  color: #00e5bc;
  font-weight: bold;
}

@media (max-width: 850px) {
  .right .nav-items {
    gap: 0;
  }
}

.nav-right .menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  margin-right: 10px; /* Adjust as needed */
  order: 2;
}

@media (min-width: 850px) {
  .bars,
  .times {
    display: none;
  }
}

@media (max-width: 850px) {
  .nav-right .nav-items {
    display: none;
  }

  .nav-right .menu-icon {
    display: block;
  }

  .active .nav-right .nav-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #00142b;
    border-bottom: 2px solid #0050b1;
    width: 100%;
    margin: 0;
    text-align: right;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    align-items: center;
  }

  .active .nav-right .nav-items li {
    width: 100vw;
  }

  .green-btn {
    width: 100%;
  }

  .nav-right .nav-items .active-item {
    border: none;
  }

  .nav-right .nav-items .active-item:hover {
    border: none;
  }

  .active .nav-right .nav-items.active {
    transform: translateY(0);
  }
}

.nav-right .menu-icon.hidden {
  display: none;
}
