.contact-us {
  background-color: #00142b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh);
  padding: 10px;
}

.contact-us h1 {
  margin-bottom: 50px;
}

.form-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background-color: #fff;
}

input:focus {
  border: 3px solid #00e5bc;
}

textarea {
  width: 300px;
  height: 100px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background-color: #fff;
}

textarea:focus {
  border: 3px solid #00e5bc;
}

.send-message-btn {
  align-self: center;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #00e5bc;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.send-message-btn:hover {
  transform: scale(1.05);
  background-color: #00142b;
  color: #fff;
  border: 1px solid #00e5bc;
  transition: all 0.1s ease-in-out;
}

.thank-you-message {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
